In [1]:
import pandas as pd

In [2]:
datapath =r'D:\Nutstore\Backtrader\AUDUSD_D1.csv'

In [3]:
data=pd.read_csv(datapath)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     3233 non-null   object
 1   Open     3233 non-null   float64
 2   High     3233 non-null   float64
 3   Low      3233 non-null   float64
 4   close    3233 non-null   float64
 5   Volume   3233 non-null   float64
dtypes: float64(5), object(1)
memory usage: 139.0+ KB

In [4]:
data.Date=pd.to_datetime(data.Date)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     3233 non-null   datetime64[ns]
 1   Open     3233 non-null   float64
 2   High     3233 non-null   float64
 3   Low      3233 non-null   float64
 4   close    3233 non-null   float64
 5   Volume   3233 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 151.6 KB

In [6]:
data.to_csv(datapath)

In [7]:
data=pd.read_csv(datapath)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  3233 non-null   int64
 1   Date        3233 non-null   object
 2   Open        3233 non-null   float64
 3   High        3233 non-null   float64
 4   Low         3233 non-null   float64
 5   close       3233 non-null   float64
 6   Volume      3233 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 164.2+ KB

In [8]:
data.set_index('Date')

            Unnamed: 0     Open     High      Low    close    Volume
Date
2010-01-01           0  0.89725  0.89745  0.89713  0.89722   72622.26
2010-01-03           1  0.89823  0.89970  0.89713  0.89713    1303.15
2010-01-04           2  0.89716  0.91366  0.89379  0.91239   45216.78
2010-01-05           3  0.91246  0.91737  0.90916  0.91150   52283.22
2010-01-06           4  0.91156  0.92166  0.90974  0.91992   51910.04
...                ...      ...      ...      ...      ...        ...
2020-04-27        3228  0.63971  0.64712  0.63921  0.64491  100837.88
2020-04-28        3229  0.64492  0.65136  0.64338  0.65019  106634.26
2020-04-29        3230  0.65019  0.65582  0.65008  0.65540   98251.94
2020-04-30        3231  0.65538  0.65695  0.64825  0.64941  136794.00
2020-05-01        3232  0.64943  0.64968  0.64097  0.64149   86768.31

[3233 rows x 6 columns]

In [9]:
del data['Unnamed: 0']

In [10]:
data.head()

         Date     Open     High      Low    close   Volume
0  2010-01-01  0.89725  0.89745  0.89713  0.89722  72622.26
1  2010-01-03  0.89823  0.89970  0.89713  0.89713   1303.15
2  2010-01-04  0.89716  0.91366  0.89379  0.91239  45216.78
3  2010-01-05  0.91246  0.91737  0.90916  0.91150  52283.22
4  2010-01-06  0.91156  0.92166  0.90974  0.91992  51910.04

In [11]:
data.set_index('Date',inplace=True)

In [12]:
data.head()

               Open     High      Low    close   Volume
Date
2010-01-01  0.89725  0.89745  0.89713  0.89722  72622.26
2010-01-03  0.89823  0.89970  0.89713  0.89713   1303.15
2010-01-04  0.89716  0.91366  0.89379  0.91239  45216.78
2010-01-05  0.91246  0.91737  0.90916  0.91150  52283.22
2010-01-06  0.91156  0.92166  0.90974  0.91992  51910.04

In [14]:
data.to_csv(r'D:\Nutstore\Backtrader\AUDUSD_D.csv')

In [15]:
data1=pd.read_csv(r'D:\Nutstore\Backtrader\AUDUSD_D.csv')

In [16]:
data1.head()

         Date     Open     High      Low    close   Volume
0  2010-01-01  0.89725  0.89745  0.89713  0.89722  72622.26
1  2010-01-03  0.89823  0.89970  0.89713  0.89713   1303.15
2  2010-01-04  0.89716  0.91366  0.89379  0.91239  45216.78
3  2010-01-05  0.91246  0.91737  0.90916  0.91150  52283.22
4  2010-01-06  0.91156  0.92166  0.90974  0.91992  51910.04