## Analysis

In [1]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv(r'C:\Users\倪磊\Desktop\data.csv')

In [4]:
data.head()

,Open Time,Type,Size,Item,Price,S / L,T / P,Close Time,Price.1,Commission,Swap,Profit
0,2020.07.01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020.07.02 15:43:23,1765.82,-3.0,2.34,69.5
1,2020.07.01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020.07.02 15:16:45,1767.84,-3.0,2.34,22
2,2020.07.01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020.07.02 12:02:40,1772.75,-3.0,-9.01,-125
3,2020.07.01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020.07.01 20:46:36,1769.05,-3.0,0.00,3.5
4,2020.07.01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020.07.01 20:33:56,1771.32,-3.0,0.00,566

In [6]:
data.columns

Index(['Open Time', 'Type', 'Size', 'Item', 'Price', 'S / L', 'T / P',
       'Close Time', 'Price.1', 'Commission', 'Swap', 'Profit'],
      dtype='object')

In [7]:
data.rename(columns={'Open Time':'open','Close Time':'close'},inplace=True)

In [8]:
data.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit
0,2020.07.01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020.07.02 15:43:23,1765.82,-3.0,2.34,69.5
1,2020.07.01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020.07.02 15:16:45,1767.84,-3.0,2.34,22
2,2020.07.01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020.07.02 12:02:40,1772.75,-3.0,-9.01,-125
3,2020.07.01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020.07.01 20:46:36,1769.05,-3.0,0.00,3.5
4,2020.07.01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020.07.01 20:33:56,1771.32,-3.0,0.00,566

In [11]:
data.open=pd.to_datetime(data.open)
data.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020.07.02 15:43:23,1765.82,-3.0,2.34,69.5
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020.07.02 15:16:45,1767.84,-3.0,2.34,22
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020.07.02 12:02:40,1772.75,-3.0,-9.01,-125
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020.07.01 20:46:36,1769.05,-3.0,0.00,3.5
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020.07.01 20:33:56,1771.32,-3.0,0.00,566

In [12]:
data.close=pd.to_datetime(data.close)
data.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020-07-02 15:43:23,1765.82,-3.0,2.34,69.5
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020-07-02 15:16:45,1767.84,-3.0,2.34,22
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020-07-02 12:02:40,1772.75,-3.0,-9.01,-125
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020-07-01 20:46:36,1769.05,-3.0,0.00,3.5
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020-07-01 20:33:56,1771.32,-3.0,0.00,566

In [15]:
data_xau=data[data.Item=='xauusd']

In [16]:
data_xau.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020-07-02 15:43:23,1765.82,-3.0,2.34,69.5
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020-07-02 15:16:45,1767.84,-3.0,2.34,22
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020-07-02 12:02:40,1772.75,-3.0,-9.01,-125
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020-07-01 20:46:36,1769.05,-3.0,0.00,3.5
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020-07-01 20:33:56,1771.32,-3.0,0.00,566

In [17]:
data_xau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 0 to 17
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   open        18 non-null     datetime64[ns]
 1   Type        18 non-null     object
 2   Size        18 non-null     float64
 3   Item        18 non-null     object
 4   Price       18 non-null     float64
 5   S / L       18 non-null     float64
 6   T / P       18 non-null     float64
 7   close       18 non-null     datetime64[ns]
 8   Price.1     18 non-null     float64
 9   Commission  18 non-null     float64
 10  Swap        18 non-null     float64
 11  Profit      18 non-null     object
dtypes: datetime64[ns](2), float64(7), object(3)
memory usage: 1.6+ KB

In [18]:
data_xau.describe()

,Size,Price,S / L,T / P,Price.1,Commission,Swap
count,18.00000,18.000000,18.0,18.000000,18.000000,18.000000,18.000000
mean,0.50000,1773.601111,0.0,1278.333889,1772.861111,-3.000000,-0.015000
std,0.20292,7.128044,0.0,815.807136,5.100751,1.217519,2.379069
min,0.30000,1760.000000,0.0,0.000000,1765.820000,-6.000000,-9.010000
25%,0.35000,1768.490000,0.0,438.750000,1769.287500,-3.000000,0.000000
50%,0.50000,1772.855000,0.0,1768.505000,1771.255000,-3.000000,0.000000
75%,0.50000,1777.072500,0.0,1773.500000,1777.390000,-2.100000,0.702500
max,1.00000,1788.000000,0.0,1787.000000,1781.520000,-1.800000,2.340000

In [25]:
data_xau['previous']=data_xau.Price.shift(1)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
data_xau.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit,previous
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020-07-02 15:43:23,1765.82,-3.0,2.34,69.5,NaN
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020-07-02 15:16:45,1767.84,-3.0,2.34,22,1767.21
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020-07-02 12:02:40,1772.75,-3.0,-9.01,-125,1768.28
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020-07-01 20:46:36,1769.05,-3.0,0.00,3.5,1775.25
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020-07-01 20:33:56,1771.32,-3.0,0.00,566,1769.12

In [29]:
data0=data_xau.copy()

In [30]:
data0.head()

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit,previous
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.0,2020-07-02 15:43:23,1765.82,-3.0,2.34,69.5,NaN
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.0,2020-07-02 15:16:45,1767.84,-3.0,2.34,22,1767.21
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.0,2020-07-02 12:02:40,1772.75,-3.0,-9.01,-125,1768.28
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.0,2020-07-01 20:46:36,1769.05,-3.0,0.00,3.5,1775.25
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.0,2020-07-01 20:33:56,1771.32,-3.0,0.00,566,1769.12

In [32]:
data0['distance']=data0['Price']-data0['previous']

In [34]:
data0.head(20)

,open,Type,Size,Item,Price,S / L,T / P,close,Price.1,Commission,Swap,Profit,previous,distance
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,0.0,1755.00,2020-07-02 15:43:23,1765.82,-3.0,2.34,69.5,NaN,NaN
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,0.0,1755.00,2020-07-02 15:16:45,1767.84,-3.0,2.34,22,1767.21,1.07
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,0.0,1774.00,2020-07-02 12:02:40,1772.75,-3.0,-9.01,-125,1768.28,6.97
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,0.0,1768.00,2020-07-01 20:46:36,1769.05,-3.0,0.00,3.5,1775.25,-6.13
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,0.0,1777.00,2020-07-01 20:33:56,1771.32,-3.0,0.00,566,1769.12,-9.12
5,2020-07-01 16:14:02,buy,0.5,xauusd,1773.10,0.0,1772.00,2020-07-01 20:32:15,1771.27,-3.0,0.00,-91.5,1760.00,13.10
6,2020-07-01 16:53:00,buy,0.5,xauusd,1767.57,0.0,1769.01,2020-07-01 19:21:54,1767.49,-3.0,0.00,-4,1773.10,-5.53
7,2020-06-30 16:39:16,sell,0.5,xauusd,1769.66,0.0,1770.00,2020-07-01 16:42:45,1770.00,-3.0,0.78,-17,1767.57,2.09
8,2020-06-30 16:30:37,sell,1.0,xauusd,1768.13,0.0,1770.00,2020-07-01 16:42:45,1770.00,-6.0,1.56,-187,1769.66,-1.53
9,2020-06-30 17:17:30,sell,0.5,xauusd,1774.60,0.0,1774.00,2020-07-01 16:08:16,1774.93,-3.0,0.78,-16.5,1768.13,6.47
10,2020-07-01 10:16:11,sell,0.3,xauusd,1788.00,0.0,0.00,2020-07-01 15:39:01,1778.21,-1.8,0.00,293.7,1774.60,13.40
11,2020-06-30 17:41:49,sell,0.3,xauusd,1777.68,0.0,1777.00,2020-07-01 14:24:42,1779.78,-1.8,0.47,-63,1788.00,-10.32
12,2020-07-01 02:20:31,sell,1.0,xauusd,1783.11,0.0,0.00,2020-07-01 13:45:34,1781.52,-6.0,0.00,159,1777.68,5.43
13,2020-06-30 17:54:07,sell,0.3,xauusd,1784.00,0.0,0.00,2020-06-30 21:05:46,1780.35,-1.8,0.00,109.5,1783.11,0.89
14,2020-06-30 17:53:26,sell,0.5,xauusd,1782.13,0.0,0.00,2020-06-30 21:04:56,1780.93,-3.0,0.00,60,1784.00,-1.87
15,2020-06-30 09:25:49,buy,0.5,xauusd,1772.61,0.0,1787.00,2020-06-30 17:08:36,1771.24,-3.0,0.00,-68.5,1782.13,-9.52
16,2020-06-29 13:09:33,sell,0.3,xauusd,1770.87,0.0,1762.00,2020-06-30 15:52:56,1768.91,-1.8,0.47,58.8,1772.61,-1.74
17,2020-06-29 03:43:01,sell,0.3,xauusd,1773.50,0.0,0.00,2020-06-29 11:24:48,1770.09,-1.8,0.00,102.3,1770.87,2.63