## Analysis

In [1]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv(r'C:\Users\倪磊\Desktop\data.csv')

In [6]:
data.head()

,Open Time,Type,Size,Item,Price,Close Time,Price.1,Profit
0,2020.07.01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5
1,2020.07.01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0
2,2020.07.01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0
3,2020.07.01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5
4,2020.07.01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0

In [8]:
data.rename(columns={'Open Time':'date','Price':'price','Close Time':'close'},inplace=True)

In [9]:
data.head()

,date,Type,Size,Item,price,close,Price.1,Profit
0,2020.07.01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5
1,2020.07.01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0
2,2020.07.01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0
3,2020.07.01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5
4,2020.07.01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0

In [11]:
data.date=pd.to_datetime(data.date)
data.head()

,date,Type,Size,Item,price,close,Price.1,Profit
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0

如何去找出数据的规律

In [12]:
data.set_index('date',drop=True)

,Type,Size,Item,price,close,Price.1,Profit
date,,,,,,,
2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5
2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0
2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0
2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5
2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0
2020-07-01 16:14:02,buy,0.5,xauusd,1773.10,2020.07.01 20:32:15,1771.27,-91.5
2020-07-01 16:53:00,buy,0.5,xauusd,1767.57,2020.07.01 19:21:54,1767.49,-4.0
2020-06-30 16:39:16,sell,0.5,xauusd,1769.66,2020.07.01 16:42:45,1770.00,-17.0
2020-06-30 16:30:37,sell,1.0,xauusd,1768.13,2020.07.01 16:42:45,1770.00,-187.0
2020-06-30 17:17:30,sell,0.5,xauusd,1774.60,2020.07.01 16:08:16,1774.93,-16.5
2020-07-01 10:16:11,sell,0.3,xauusd,1788.00,2020.07.01 15:39:01,1778.21,293.7
2020-06-30 17:41:49,sell,0.3,xauusd,1777.68,2020.07.01 14:24:42,1779.78,-63.0
2020-07-01 02:20:31,sell,1.0,xauusd,1783.11,2020.07.01 13:45:34,1781.52,159.0
2020-06-30 17:54:07,sell,0.3,xauusd,1784.00,2020.06.30 21:05:46,1780.35,109.5
2020-06-30 17:53:26,sell,0.5,xauusd,1782.13,2020.06.30 21:04:56,1780.93,60.0
2020-06-30 09:25:49,buy,0.5,xauusd,1772.61,2020.06.30 17:08:36,1771.24,-68.5
2020-06-29 13:09:33,sell,0.3,xauusd,1770.87,2020.06.30 15:52:56,1768.91,58.8
2020-06-29 03:43:01,sell,0.3,xauusd,1773.50,2020.06.29 11:24:48,1770.09,102.3

In [20]:
data.sort_values(by='date',ascending=True,inplace=True)

In [22]:
data.set_index('date',drop=True)

,Type,Size,Item,price,close,Price.1,Profit
date,,,,,,,
2020-06-29 03:43:01,sell,0.3,xauusd,1773.50,2020.06.29 11:24:48,1770.09,102.3
2020-06-29 13:09:33,sell,0.3,xauusd,1770.87,2020.06.30 15:52:56,1768.91,58.8
2020-06-30 09:25:49,buy,0.5,xauusd,1772.61,2020.06.30 17:08:36,1771.24,-68.5
2020-06-30 16:30:37,sell,1.0,xauusd,1768.13,2020.07.01 16:42:45,1770.00,-187.0
2020-06-30 16:39:16,sell,0.5,xauusd,1769.66,2020.07.01 16:42:45,1770.00,-17.0
2020-06-30 17:17:30,sell,0.5,xauusd,1774.60,2020.07.01 16:08:16,1774.93,-16.5
2020-06-30 17:41:49,sell,0.3,xauusd,1777.68,2020.07.01 14:24:42,1779.78,-63.0
2020-06-30 17:53:26,sell,0.5,xauusd,1782.13,2020.06.30 21:04:56,1780.93,60.0
2020-06-30 17:54:07,sell,0.3,xauusd,1784.00,2020.06.30 21:05:46,1780.35,109.5
2020-07-01 02:20:31,sell,1.0,xauusd,1783.11,2020.07.01 13:45:34,1781.52,159.0
2020-07-01 10:16:11,sell,0.3,xauusd,1788.00,2020.07.01 15:39:01,1778.21,293.7
2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0
2020-07-01 16:14:02,buy,0.5,xauusd,1773.10,2020.07.01 20:32:15,1771.27,-91.5
2020-07-01 16:53:00,buy,0.5,xauusd,1767.57,2020.07.01 19:21:54,1767.49,-4.0
2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0
2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5
2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0
2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 17 to 3
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date     18 non-null     datetime64[ns]
 1   Type     18 non-null     object
 2   Size     18 non-null     float64
 3   Item     18 non-null     object
 4   price    18 non-null     float64
 5   close    18 non-null     object
 6   Price.1  18 non-null     float64
 7   Profit   18 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 1.1+ KB

In [25]:
data.describe()

           Size        price      Price.1      Profit
count  18.00000    18.000000    18.000000   18.000000
mean    0.50000  1773.601111  1772.861111   48.433333
std     0.20292     7.128044     5.100751  170.244934
min     0.30000  1760.000000  1765.820000 -187.000000
25%     0.35000  1768.490000  1769.287500  -51.500000
50%     0.50000  1772.855000  1771.255000   12.750000
75%     0.50000  1777.072500  1777.390000   94.100000
max     1.00000  1788.000000  1781.520000  566.000000

In [27]:
data['distance']=np.where(data['price']>data['price'].shift(1),data['price']-data['price'].shift(1),data['price'].shift(1)-data['price'])

In [30]:
data.head(20)  #错了，放弃

,date,Type,Size,Item,price,close,Price.1,Profit,distance
17,2020-06-29 03:43:01,sell,0.3,xauusd,1773.50,2020.06.29 11:24:48,1770.09,102.3,NaN
16,2020-06-29 13:09:33,sell,0.3,xauusd,1770.87,2020.06.30 15:52:56,1768.91,58.8,2.63
15,2020-06-30 09:25:49,buy,0.5,xauusd,1772.61,2020.06.30 17:08:36,1771.24,-68.5,1.74
8,2020-06-30 16:30:37,sell,1.0,xauusd,1768.13,2020.07.01 16:42:45,1770.00,-187.0,4.48
7,2020-06-30 16:39:16,sell,0.5,xauusd,1769.66,2020.07.01 16:42:45,1770.00,-17.0,1.53
9,2020-06-30 17:17:30,sell,0.5,xauusd,1774.60,2020.07.01 16:08:16,1774.93,-16.5,4.94
11,2020-06-30 17:41:49,sell,0.3,xauusd,1777.68,2020.07.01 14:24:42,1779.78,-63.0,3.08
14,2020-06-30 17:53:26,sell,0.5,xauusd,1782.13,2020.06.30 21:04:56,1780.93,60.0,4.45
13,2020-06-30 17:54:07,sell,0.3,xauusd,1784.00,2020.06.30 21:05:46,1780.35,109.5,1.87
12,2020-07-01 02:20:31,sell,1.0,xauusd,1783.11,2020.07.01 13:45:34,1781.52,159.0,0.89
10,2020-07-01 10:16:11,sell,0.3,xauusd,1788.00,2020.07.01 15:39:01,1778.21,293.7,4.89
2,2020-07-01 16:09:03,buy,0.5,xauusd,1775.25,2020.07.02 12:02:40,1772.75,-125.0,12.75
5,2020-07-01 16:14:02,buy,0.5,xauusd,1773.10,2020.07.01 20:32:15,1771.27,-91.5,2.15
6,2020-07-01 16:53:00,buy,0.5,xauusd,1767.57,2020.07.01 19:21:54,1767.49,-4.0,5.53
4,2020-07-01 18:23:39,buy,0.5,xauusd,1760.00,2020.07.01 20:33:56,1771.32,566.0,7.57
0,2020-07-01 19:27:25,sell,0.5,xauusd,1767.21,2020.07.02 15:43:23,1765.82,69.5,7.21
1,2020-07-01 19:40:06,sell,0.5,xauusd,1768.28,2020.07.02 15:16:45,1767.84,22.0,1.07
3,2020-07-01 19:49:10,sell,0.5,xauusd,1769.12,2020.07.01 20:46:36,1769.05,3.5,0.84