In [1]:
import pandas as pd
import numpy as np

## Datetime Units

### Date units:

'Y','M','W','D'

### Time units:

'h','m','s','ms','us','ns','ps','fs','as'

## Basic datetimes

In [4]:
#A simple ISO date:
np.datetime64('2005-02-25')

numpy.datetime64('2005-02-25')

In [6]:
#Using months for the unit:
np.datetime64('2005-02')

numpy.datetime64('2005-02')

In [7]:
#Specifying just the month, but forcing a ‘days’ unit:
np.datetime64('2005-02', 'D')

numpy.datetime64('2005-02-01')

In [8]:
#From a date and time:
np.datetime64('2005-02-25T03:30')

numpy.datetime64('2005-02-25T03:30')

In [9]:
#NAT (not a time):
np.datetime64('nat')

numpy.datetime64('NaT')

In [11]:
#When creating an array of datetimes from a string, it is still possible to automatically select the unit from the inputs, by using the datetime type with generic units.
np.array(['2007-07-13', '2006-01-13', '2010-08-13'], dtype='datetime64')

array(['2007-07-13', '2006-01-13', '2010-08-13'], dtype='datetime64[D]')

In [13]:
np.array(['2001-01-01T12:00', '2002-02-03T13:56:03.172'], dtype='datetime64')

array(['2001-01-01T12:00:00.000', '2002-02-03T13:56:03.172'],
      dtype='datetime64[ms]')

### arange的运用

In [12]:
np.arange('2005-02', '2005-03', dtype='datetime64[D]')

array(['2005-02-01', '2005-02-02', '2005-02-03', '2005-02-04',
       '2005-02-05', '2005-02-06', '2005-02-07', '2005-02-08',
       '2005-02-09', '2005-02-10', '2005-02-11', '2005-02-12',
       '2005-02-13', '2005-02-14', '2005-02-15', '2005-02-16',
       '2005-02-17', '2005-02-18', '2005-02-19', '2005-02-20',
       '2005-02-21', '2005-02-22', '2005-02-23', '2005-02-24',
       '2005-02-25', '2005-02-26', '2005-02-27', '2005-02-28'],
      dtype='datetime64[D]')

## Datetime and Timedelta Arithmetic

In [15]:
np.timedelta64(1, 'D')

numpy.timedelta64(1,'D')

In [16]:
np.timedelta64(4, 'h')

numpy.timedelta64(4,'h')

In [18]:
np.timedelta64('nAt')

numpy.timedelta64('NaT')

In [19]:
np.datetime64('2009-01-01') - np.datetime64('2008-01-01')

numpy.timedelta64(366,'D')

In [20]:
np.datetime64('2009') + np.timedelta64(20, 'D')

numpy.datetime64('2009-01-21')

In [21]:
np.datetime64('2011-06-15T00:00') + np.timedelta64(12, 'h')

numpy.datetime64('2011-06-15T12:00')

In [22]:
np.timedelta64(1,'W') / np.timedelta64(1,'D')

7.0

In [23]:
np.timedelta64(1,'W') % np.timedelta64(10,'D')

numpy.timedelta64(7,'D')

In [25]:
np.datetime64('nat') - np.datetime64('2009-01-01')

numpy.timedelta64('NaT','D')

In [27]:
np.datetime64('2009-01-01') + np.timedelta64('nat')

numpy.datetime64('NaT')

In [28]:
#时间差之间的换算，Y与M之间可以换算
a = np.timedelta64(1, 'Y')
np.timedelta64(a, 'M')

numpy.timedelta64(12,'M')

In [29]:
#Y与D之间不可以随便换算，因为不同的年有不同的天数
np.timedelta64(a, 'D')

TypeError: Cannot cast NumPy timedelta64 scalar from metadata [Y] to [D] according to the rule 'same_kind'

## 工作日功能

### 计算下一个工作日

In [35]:
#将指定的偏移量应用于工作日，单位天（'D'）
np.busday_offset('2019-03-08', 1)

numpy.datetime64('2019-03-11')

In [36]:
#如果当前日期为非工作日，则默认是报错的
np.busday_offset('2019-03-09', 1)

ValueError: Non-business day date in busday_offset

In [37]:
#可以指定 forward 或 backward 规则来避免报错。
#可以指定偏移量为 0 来获取当前日期向前或向后最近的工作日，当然，如果当前日期本身就是工作日，则直接返回当前日期。
a = np.busday_offset('2019-03-09', 1, roll='forward')
b = np.busday_offset('2019-03-09', 1, roll='backward')
print(a)
print(b)

c = np.busday_offset('2019-03-09', 0, roll='forward')
d = np.busday_offset('2019-03-09', 0, roll='backward')
print(c)
print(d)

2019-03-12
2019-03-11
2019-03-11
2019-03-08