# Series 序列

In [8]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo", "bar", "bar", "bar", "bar"],
"B": ["one", "one", "one", "two", "two", "one", "one", "two", "two"],
"C": ["small", "large", "large", "small", "small", "large", "small", "small","large"],
"D": [1, 2, 2, 3, 3, 4, 5, 6, 7],"E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [16]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

## 序列切片

切片结构： sname[start : end : step]

## 序列内置函数

In [13]:
table_1=pd.read_clipboard()
table_1

            函数                                                 功能
0        len()                             计算序列的长度，即返回序列中包含多少个元素。
1        max()  找出序列中的最大元素。注意，对序列使用 sum() 函数时，做加和操作的必须都是数字，不能是...
2        min()                                        找出序列中的最小元素。
3       list()                                          将序列转换为列表。
4        str()                                         将序列转换为字符串。
5        sum()                                             计算元素和。
6     sorted()                                           对元素进行排序。
7   reversed()                                          反向序列中的元素。
8  enumerate()                          将序列组合为一个索引序列，多用在 for 循环中。