In [2]:
from pandas_datareader import data as pdr

In [3]:
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")
data = pdr.get_data_yahoo(["SPY", "IWM"], start="2017-01-01", end="2017-04-30")

In [4]:
data.head()

Attributes   Adj Close                   Close                    High  \
Symbols            SPY         IWM         SPY         IWM         SPY
Date
2017-01-03  211.552551  129.879883  225.240005  135.520004  225.830002
2017-01-04  212.811111  132.045822  226.580002  137.779999  226.750000
2017-01-05  212.642044  130.521973  226.399994  136.190002  226.580002
2017-01-06  213.402817  130.042786  227.210007  135.690002  227.750000
2017-01-09  212.698441  129.189835  226.460007  134.800003  227.070007

Attributes                     Low                    Open              \
Symbols            IWM         SPY         IWM         SPY         IWM
Date
2017-01-03  136.830002  223.880005  134.500000  225.039993  136.490005
2017-01-04  137.960007  225.610001  136.009995  225.619995  136.050003
2017-01-05  137.759995  225.479996  135.509995  226.270004  137.490005
2017-01-06  136.710007  225.899994  135.679993  226.529999  136.410004
2017-01-09  135.720001  226.419998  134.500000  226.910004  135.539993

Attributes      Volume
Symbols            SPY         IWM
Date
2017-01-03  91366500.0  29792400.0
2017-01-04  78744400.0  34499400.0
2017-01-05  78379000.0  30286900.0
2017-01-06  71559900.0  23436000.0
2017-01-09  46939700.0  24077900.0

如果失败了呢，也就是说不能调用

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 81 entries, 2017-01-03 to 2017-04-28
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (Adj Close, SPY)  81 non-null     float64
 1   (Adj Close, IWM)  81 non-null     float64
 2   (Close, SPY)      81 non-null     float64
 3   (Close, IWM)      81 non-null     float64
 4   (High, SPY)       81 non-null     float64
 5   (High, IWM)       81 non-null     float64
 6   (Low, SPY)        81 non-null     float64
 7   (Low, IWM)        81 non-null     float64
 8   (Open, SPY)       81 non-null     float64
 9   (Open, IWM)       81 non-null     float64
 10  (Volume, SPY)     81 non-null     float64
 11  (Volume, IWM)     81 non-null     float64
dtypes: float64(12)
memory usage: 8.2 KB

In [5]:
import fix_yahoo_finance as yf     #用这个包来修复雅虎
yf.pdr_override() #需要调用这个函数

ModuleNotFoundError: No module named 'fix_yahoo_finance'