In [2]:
from __future__ import (absolute_import, division, print_function,unicode_literals)
import backtrader as bt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import mpl
mpl.rcParams['font.sans-serif']=['SimHei']
mpl.rcParams['axes.unicode_minus']=False

In [3]:
#设置数据文件路径
datapath=r'/Users/nilei/Nutstore/Data/EURUSD_D1.csv'
from dateutil import parser
def getDateTime(s):
    d = parser.parse(s)
    return d
df=pd.read_csv(datapath)
df.index=df['Time (UTC)'].apply(lambda x:getDateTime(x))
old=df.columns[1:]
new=['open','high','low','close','volume']
df=df.rename(columns=dict(zip(old,new)))
df=df.iloc[:,1:]
df['openinterest']=0
df.head()

               open     high      low    close   volume  openinterest
Time (UTC)
2010-01-01  1.43283  1.43356  1.43181  1.43335  76787.4             0
2010-01-03  1.43295  1.43359  1.42910  1.43141   6331.3             0
2010-01-04  1.43143  1.44556  1.42559  1.44244  80019.4             0
2010-01-05  1.44238  1.44834  1.43445  1.43634  79887.1             0
2010-01-06  1.43638  1.44342  1.42807  1.44005  80971.8             0

In [4]:
#设置回测时间段
import datetime as datetime
data = bt.feeds.PandasData(dataname=df,                               
                            fromdate=datetime.datetime(2019, 1, 1),                               
                            todate=datetime.datetime(2020, 1, 1) )