In [5]:
import pandas as pd
import numpy as np

**Pandas支持以下数据类型**

字符串类型：object  
整数类型：Int64，Int32，Int16, Int8   
无符号整数：UInt64，UInt32，UInt16, UInt8  
浮点数类型：float64，float32  
日期和时间类型：datetime64[ns]、datetime64[ns, tz]、timedelta[ns]  
布尔类型：bool

## object类型

In [6]:
s_1=pd.Series(['a','b','c'])
s_1

0    a
1    b
2    c
dtype: object

In [9]:
#对于object类型，如果一个pandas对象在单列中包括多个dtype，那么使用object来容纳所有的dtype
s_2=pd.Series(['a','b',1])
s_2

0    a
1    b
2    1
dtype: object

## 数值类型

pandas中的整数类型和浮点数类型可以为空（NULL），在定义数据组或序列时，使用dtype参数来定义整数类型

In [10]:
pd.array([1, 2, np.nan], dtype="Int64")

<IntegerArray>
[1, 2, NaN]
Length: 3, dtype: Int64

In [11]:
pd.Series([1, 2, np.nan], dtype="Int32")

0      1
1      2
2    NaN
dtype: Int32

In [12]:
pd.Series([1, 2, np.nan], dtype="float32")

0    1.0
1    2.0
2    NaN
dtype: float32

## 日期和时间类型类型

In [13]:
pd.Series(['2018-07-01', '2019-07-01', '2019-10-01'], dtype="datetime64[ns]")

0   2018-07-01
1   2019-07-01
2   2019-10-01
dtype: datetime64[ns]

## 类型转换

### astype()

### 特定类型转换

In [ ]:
to_numeric() 
to_datetime() 
to_timedelta()

In [14]:
a=pd.Series([1,2,3])
a

0    1
1    2
2    3
dtype: int64

In [15]:
a.to_list()

[1, 2, 3]