In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

## Getting values

In [3]:
#Single label单一标签
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [4]:
#List of labels 标签列表，别忘了加中括号
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [5]:
#Single label for row and column
df.loc['cobra', 'shield']

2

In [6]:
#Slice with labels for row and single label for column. As mentioned above, note that both the start and stop of the slice are included.
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [6]:
#具体参数行
df.loc[df['shield']==5]

       max_speed  shield
viper          4       5

In [8]:
#多个变量要求的行,注意一定要加小括号
df.loc[(df['shield']>5)&(df['max_speed']>5)]

            max_speed  shield
sidewinder          7       8

In [7]:
#Conditional that returns a boolean Series   加以条件限制
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [8]:
#Conditional that returns a boolean Series with column labels specified
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [9]:
#Callable that returns a boolean Series
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

## Setting values

In [11]:
#Set value for all items matching the list of labels
df.loc[['viper', 'sidewinder'], ['shield']] = 50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [12]:
#Set value for an entire row
df.loc['cobra'] = 10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [13]:
#Set value for an entire column
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [15]:
#Set value for rows matching callable condition
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

## Getting values on a DataFrame with an index that has integer labels

In [17]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [18]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

## Getting values with a MultiIndex

In [19]:
tuples = [
   ('cobra', 'mark i'), ('cobra', 'mark ii'),
   ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
   ('viper', 'mark ii'), ('viper', 'mark iii')
]
index = pd.MultiIndex.from_tuples(tuples)
values = [[12, 2], [0, 4], [10, 20],
        [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)

In [20]:
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [21]:
#Single label. Note this returns a DataFrame with a single index.
df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [22]:
#Single index tuple. Note this returns a Series.
df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [23]:
#Single label for row and column. Similar to passing in a tuple, this returns a Series.
df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [24]:
#Single tuple. Note using [[]] returns a DataFrame.
df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [25]:
#Single tuple for the index with a single label for the column
df.loc[('cobra', 'mark i'), 'shield']

2

In [26]:
#Slice from index tuple to single label
df.loc[('cobra', 'mark i'):'viper']

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [27]:
#Slice from index tuple to index tuple
df.loc[('cobra', 'mark i'):('viper', 'mark ii')]

                    max_speed  shield
cobra      mark i          12       2
           mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1

## iloc

loc是按照标签来搜索，而iloc是按照位置来搜索

In [28]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df_1=pd.DataFrame(mydict)
df_1

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [30]:
#With a scalar integer.
a=df_1.iloc[0]  #这里的结果是series
print(a)
type(a)

a    1
b    2
c    3
d    4
Name: 0, dtype: int64

pandas.core.series.Series

In [33]:
#With a list of integers.
b=df_1.iloc[[0]]  ##这里的结果是series
print(b)
print(type(b))

   a  b  c  d
0  1  2  3  4
<class 'pandas.core.frame.DataFrame'>

In [35]:
b=df_1.iloc[[0,1]]
print(b)

     a    b    c    d
0    1    2    3    4
1  100  200  300  400

In [36]:
#With a boolean mask the same length as the index.
df_1.iloc[[True, False, True]]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [37]:
#With a callable, useful in method chains. 
df_1.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

Indexing both axes
You can mix the indexer types for the index and columns

In [38]:
#With scalar integers.
df_1.iloc[0, 1]

2

In [39]:
#With lists of integers.
df_1.iloc[[0, 2], [1, 3]]

      b     d
0     2     4
2  2000  4000

In [40]:
#With slice objects.
df_1.iloc[1:3, 0:3]

      a     b     c
1   100   200   300
2  1000  2000  3000

In [41]:
#With a boolean array whose length matches the columns.
df_1.iloc[:, [True, False, True, False]]

      a     c
0     1     3
1   100   300
2  1000  3000

In [42]:
#With a callable function that expects the Series or DataFrame.
df_1.iloc[:, lambda df: [0, 2]]

      a     c
0     1     3
1   100   300
2  1000  3000