In [1]:
import pandas as pd
import numpy as np

In [3]:
import datetime

In [45]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

## 模块介绍

In [2]:
table_1=pd.read_clipboard()
table_1

              类名                                            功能说明
0           date                     日期对象,常用的属性有year, month, day
1           time                                            时间对象
2       datetime  日期时间对象,常用的属性有hour, minute, second, microsecond
3  datetime_CAPI                                     日期时间对象C语言接口
4      timedelta                                时间间隔，即两个时间点之间的长度
5         tzinfo                                          时区信息对象

## date类

### date对象

date(year,month,day)

In [4]:
a=datetime.date.today()
a

datetime.date(2020, 3, 3)

In [8]:
print(a.year)
print(a.month)
print(a.day)

2020
3
3

In [10]:
a.__getattribute__('year') #也可以通过该方法获得上述的值

2020

### date对象的方法与属性

#### 比较

In [11]:
table_2=pd.read_clipboard()
table_2

         方法名        方法说明           用法
0  __eq__(…)    等于(x==y)  x.__eq__(y)
1  __ge__(…)  大于等于(x>=y)  x.__ge__(y)
2  __gt__(…)     大于(x>y)  x.__gt__(y)
3  __le__(…)  小于等于(x<=y)  x.__le__(y)
4  __lt__(…)        小于(x  x.__lt__(y)
5  __ne__(…)   不等于(x!=y)  x.__ne__(y)

In [13]:
#Example
a_1=datetime.date(2018,1,1)
a_2=datetime.date(2018,1,2)

In [15]:
a_1.__eq__(a_2)

False

In [16]:
a_1.__ge__(a_2)

False

#### 获得时间差

In [17]:
table_3=pd.read_clipboard()
table_3

           方法名   方法说明             用法
0   __sub__(…)  x - y   x.__sub__(y)
1  __rsub__(…)  y - x  x.__rsub__(y)

In [18]:
a_1.__sub__(a_2)

datetime.timedelta(days=-1)

In [19]:
a_1.__rsub__(a_2)

datetime.timedelta(days=1)

In [20]:
# 返回结果改为值类型
a_1.__sub__(a_2).days

-1

#### 获得标准化日期

In [22]:
#isocalendar(...)返回一个包含三个值的元组，分别为年分，周数，星期数
a.isocalendar()

(2020, 10, 2)

In [23]:
a.isocalendar()[1]

10

In [24]:
#isoformat()返回符合（YYY-MM-DD）的标准
a.isoformat()

'2020-03-03'

In [25]:
#isoweekday()返回星期数，周一为1
#weekday()返回星期数，周一为0
print(a.isoweekday())
print(a.weekday())

2
1

#### 其他方法和属性

### 日期的字符串输出

In [28]:
#将日期转化为字符串对象
a_1.__format__('%Y-%m-%d')

'2018-01-01'

In [32]:
a_1.__format__('%Y/%m/%d')

'2018/01/01'

In [33]:
a_1.__format__('%y/%m/%d')

'18/01/01'

In [34]:
a_1.__format__('%D')

'01/01/18'

In [35]:
#简单字符串
a_1.__str__()

'2018-01-01'

In [36]:
#ctime样式
a_1.ctime()

'Mon Jan  1 00:00:00 2018'

## time类

数据构成
time([hour[, minute[, second[, microsecond[, tzinfo]]]]])

In [37]:
b=datetime.time(12,20,48)

In [38]:
b

datetime.time(12, 20, 48)

In [39]:
b.hour

12

In [40]:
b.second

48

In [41]:
print(b.__getattribute__('hour'))
print(b.__getattribute__('second'))

12
48

In [42]:
#比较方法与date类一样

In [46]:
datetime.time.max

datetime.time(23, 59, 59, 999999)

In [47]:
datetime.time.min

datetime.time(0, 0)

In [48]:
#时间间隔单位为分钟
datetime.time.resolution

datetime.timedelta(microseconds=1)

In [51]:
c=datetime.time(12,20,58)

In [52]:
c.__format__('%H:%M:%S')

'12:20:58'

## datetime类

datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

In [59]:
#返回当前时间datetime对象
d=datetime.datetime.now()
d

datetime.datetime(2020, 3, 3, 14, 56, 1, 854711)

In [70]:
#返回iso标准对象
d.isoformat()

'2020-03-03T14:56:01.854711'

In [71]:
#返回字符串格式
d.__format__('%Y-%m-%d %H:%M')

'2020-03-03 14:56'

In [54]:
#返回date对象
d.date()

datetime.date(2020, 3, 3)

In [57]:
#返回time对象
d.time()

datetime.time(14, 52, 21, 556413)

In [58]:
#返回utc时间元组
d.utctimetuple()

time.struct_time(tm_year=2020, tm_mon=3, tm_mday=3, tm_hour=14, tm_min=52, tm_sec=21, tm_wday=1, tm_yday=63, tm_isdst=0)

In [60]:
#combine()将一个date对象和一个time对象合并生成一个datetime对象
datetime.datetime.combine(a,b)

datetime.datetime(2020, 3, 3, 12, 20, 48)

In [61]:
#strptime(…)：根据string, format 2个参数，返回一个对应的datetime对象
datetime.datetime.strptime('2017-3-22 15:25','%Y-%m-%d %H:%M')

datetime.datetime(2017, 3, 22, 15, 25)

## timedelta类

此类包好如下属性：  
1.days：天数  
2.microseconds：微秒数（>=0并且<1秒）  
3.seconds：秒数（>=0并且<1天）

## 日期计算

### 获取当前日期

>>> now = datetime.datetime.now()
>>> now
datetime.datetime(2017, 3, 22, 16, 55, 49, 148233)
>>> today = datetime.date.today()
>>> today
datetime.date(2017, 3, 22)
>>> now.date()
datetime.date(2017, 3, 22)
>>> now.time()
datetime.time(16, 55, 49, 148233)

### 获取上个月第一天和最后一天的日期

>>> today = datetime.date.today()
>>> today
datetime.date(2017, 3, 22)
>>> mlast_day = datetime.date(today.year, today.month, 1) - datetime.timedelta(1)
>>> mlast_day
datetime.date(2017, 2, 28)
>>> mfirst_day = datetime.date(mlast_day.year, mlast_day.month, 1)
>>> mfirst_day
datetime.date(2017, 2, 1)

### 获取时间差

In [65]:
start_time = datetime.datetime.now()

In [66]:
end_time = datetime.datetime.now()
(end_time - start_time).seconds

1

### 计算当前时间向后8小时的时间

In [67]:
d1 = datetime.datetime.now()
d2 = d1 + datetime.timedelta(hours = 8)
d2

datetime.datetime(2020, 3, 4, 5, 4, 16, 164850)

### 计算上周一和周日的日期

today = datetime.date.today()
>>> today
datetime.date(2017, 3, 23)
>>> today_weekday = today.isoweekday()
>>> last_sunday = today - datetime.timedelta(days=today_weekday)
>>> last_monday = last_sunday - datetime.timedelta(days=6)
>>> last_sunday
datetime.date(2017, 3, 19)
>>> last_monday
datetime.date(2017, 3, 13)

### 计算指定日期当月最后一天的日期和本月天数

>>> date = datetime.date(2017,12,20)
>>> def eomonth(date_object):
...     if date_object.month == 12:
...         next_month_first_date = datetime.date(date_object.year+1,1,1)
...     else:
...         next_month_first_date = datetime.date(date_object.year, date_object.month+1, 1)
...     return next_month_first_date - datetime.timedelta(1)
...
>>> eomonth(date)
datetime.date(2017, 12, 31)
>>> eomonth(date).day

### 计算指定日期下个月当天的日期

>>> date = datetime.date(2017,12,20)                                            
>>> def edate(date_object):                                                     
...     if date_object.month == 12:                          
...         next_month_date = datetime.date(date_object.year+1, 1,date_object.day)
...     else:
...         next_month_first_day = datetime.date(date_object.year,date_object.month+1,1)
...         if date_object.day > eomonth(last_month_first_day).day:
...             next_month_date = datetime.date(date_object.year,date_object.month+1,eomonth(last_month_first_day).day)
...         else:
...             next_month_date = datetime.date(date_object.year, date_object.month+1, date_object.day)
...     return next_month_date
...
>>> edate(date)
datetime.date(2018, 1, 20)

### 获得本周一至今天的时间段并获得上周对应同一时间段

>>> today = datetime.date.today()
>>> this_monday = today - datetime.timedelta(today.isoweekday()-1)
>>> last_monday = this_monday - datetime.timedelta(7)
>>> last_weekday = today -datetime.timedelta(7)
>>> this_monday
datetime.date(2017, 3, 20)
>>> today
datetime.date(2017, 3, 23)
>>> last_monday
datetime.date(2017, 3, 13)
>>> last_weekday
datetime.date(2017, 3, 16)

## 附录：python中时间日期格式化符号

In [72]:
table_3=pd.read_clipboard()
table_3

    符号                       说明
0   %y          两位数的年份表示（00-99）
1   %Y       四位数的年份表示（000-9999）
2   %m                月份（01-12）
3   %d             月内中的一天（0-31）
4   %H           24小时制小时数（0-23）
5   %I          12小时制小时数（01-12）
6   %M               分钟数（00=59）
7   %S                 秒（00-59）
8   %a                 本地简化星期名称
9   %A                 本地完整星期名称
10  %b                本地简化的月份名称
11  %B                本地完整的月份名称
12  %c           本地相应的日期表示和时间表示
13  %j           年内的一天（001-366）
14  %p          本地A.M.或P.M.的等价符
15  %U  一年中的星期数（00-53）星期天为星期的开始
16  %w        星期（0-6），星期天为星期的开始
17  %W  一年中的星期数（00-53）星期一为星期的开始
18  %x                本地相应的日期表示
19  %X                本地相应的时间表示
20  %Z                  当前时区的名称
21  %%                     %号本身