In [9]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [10]:
ufo=pd.read_csv('D:/临时/ufo.csv')

In [11]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [12]:
ufo.drop('City',axis=1).head()   #这一栏还在，为删掉

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
ufo.drop('City',axis=1,inplace=True).head()

AttributeError: 'NoneType' object has no attribute 'head'

In [20]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [17]:
ufo.dropna(how='any').shape

(2490, 4)

In [19]:
ufo.shape   #未改变

(18241, 4)

In [ ]:
ufo.sort_values()