pandas.read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [9]:
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('D://data/drinks.csv', sep='|',header=None, names=user_cols, index_col='user_id')

In [7]:
users.head()  #why

,age,gender,occupation,zip_code
user_id,,,,
"country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent",NaN,NaN,NaN,NaN
"Afghanistan,0,0,0,0.0,Asia",NaN,NaN,NaN,NaN
"Albania,89,132,54,4.9,Europe",NaN,NaN,NaN,NaN
"Algeria,25,0,14,0.7,Africa",NaN,NaN,NaN,NaN
"Andorra,245,138,312,12.4,Europe",NaN,NaN,NaN,NaN