# iterrows使用说明

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(4,2))
df.columns = ['A', 'B']
df.index = ['a', 'b', 'c', 'd']
df

          A         B
a -0.993800  0.191379
b -1.725007 -1.321569
c  1.009542 -0.457411
d  1.646995  1.220871

In [3]:
df.iterrows()

In [5]:
for i in df.iterrows():
    print(i)
    print(type(i))

('a', A   -0.993800
B    0.191379
Name: a, dtype: float64)
<class 'tuple'>
('b', A   -1.725007
B   -1.321569
Name: b, dtype: float64)
<class 'tuple'>
('c', A    1.009542
B   -0.457411
Name: c, dtype: float64)
<class 'tuple'>
('d', A    1.646995
B    1.220871
Name: d, dtype: float64)
<class 'tuple'>

In [7]:
for i in df.iterrows():
    print(i[1])
    print(type(i[1]))

A   -0.993800
B    0.191379
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
A   -1.725007
B   -1.321569
Name: b, dtype: float64
<class 'pandas.core.series.Series'>
A    1.009542
B   -0.457411
Name: c, dtype: float64
<class 'pandas.core.series.Series'>
A    1.646995
B    1.220871
Name: d, dtype: float64
<class 'pandas.core.series.Series'>

In [8]:
for i in df.iterrows():
    print(i[1]['B'])

0.191379189945
-1.32156852611
-0.457410745699
1.22087123315

In [ ]:
df

In [12]:
for i, item in df.iterrows():
    print(i)
    print(item)
    print(type(item))

a
A   -0.993800
B    0.191379
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
b
A   -1.725007
B   -1.321569
Name: b, dtype: float64
<class 'pandas.core.series.Series'>
c
A    1.009542
B   -0.457411
Name: c, dtype: float64
<class 'pandas.core.series.Series'>
d
A    1.646995
B    1.220871
Name: d, dtype: float64
<class 'pandas.core.series.Series'>