In [6]:
import pandas as pd
import numpy as np

In [5]:
data=pd.read_csv('D://EURUSD1MIN.csv',nrows=10)
data

            Time (UTC)     Open     High      Low    Close  Volume
0  2009/01/01 00:00:00  1.39734  1.39738  1.39731  1.39735     76.0
1  2009/01/01 00:01:00  1.39733  1.39733  1.39696  1.39719    572.2
2  2009/01/01 00:02:00  1.39705  1.39710  1.39698  1.39706    152.0
3  2009/01/01 00:03:00  1.39707  1.39721  1.39705  1.39705    139.6
4  2009/01/01 00:04:00  1.39705  1.39719  1.39701  1.39701    163.4
5  2009/01/01 00:05:00  1.39712  1.39718  1.39705  1.39708    160.7
6  2009/01/01 00:06:00  1.39704  1.39710  1.39704  1.39710     15.0
7  2009/01/01 00:07:00  1.39716  1.39719  1.39699  1.39709     79.4
8  2009/01/01 00:08:00  1.39710  1.39712  1.39708  1.39712     56.6
9  2009/01/01 00:09:00  1.39714  1.39714  1.39705  1.39712     64.0

## 准备工作

In [7]:
data.index

RangeIndex(start=0, stop=4143734, step=1)

In [13]:
data.shape

(4143734, 6)

In [14]:
data.size

24862404

In [15]:
data.dtypes

Time (UTC)     object
Open          float64
High          float64
Low           float64
Close         float64
Volume        float64
dtype: object

In [16]:
#将时间的列名变为Time，并将格式改为datetime；
data.rename(columns={'Time (UTC)':'Time'},inplace=True)
data.head()

                  Time     Open     High      Low    Close  Volume
0  2009/01/01 00:00:00  1.39734  1.39738  1.39731  1.39735     76.0
1  2009/01/01 00:01:00  1.39733  1.39733  1.39696  1.39719    572.2
2  2009/01/01 00:02:00  1.39705  1.39710  1.39698  1.39706    152.0
3  2009/01/01 00:03:00  1.39707  1.39721  1.39705  1.39705    139.6
4  2009/01/01 00:04:00  1.39705  1.39719  1.39701  1.39701    163.4

In [18]:
data['Time']=pd.to_datetime(data.Time)
data.head()

                 Time     Open     High      Low    Close  Volume
0 2009-01-01 00:00:00  1.39734  1.39738  1.39731  1.39735     76.0
1 2009-01-01 00:01:00  1.39733  1.39733  1.39696  1.39719    572.2
2 2009-01-01 00:02:00  1.39705  1.39710  1.39698  1.39706    152.0
3 2009-01-01 00:03:00  1.39707  1.39721  1.39705  1.39705    139.6
4 2009-01-01 00:04:00  1.39705  1.39719  1.39701  1.39701    163.4

## 处理缺失值

In [24]:
data.Open.head()
data.Open.isnull()   #查看series的NA值

0          False
1          False
2          False
3          False
4          False
           ...
4143729    False
4143730    False
4143731    False
4143732    False
4143733    False
Name: Open, Length: 4143734, dtype: bool

In [25]:
cleaned=data.dropna()
cleaned.head()

                 Time     Open     High      Low    Close  Volume
0 2009-01-01 00:00:00  1.39734  1.39738  1.39731  1.39735     76.0
1 2009-01-01 00:01:00  1.39733  1.39733  1.39696  1.39719    572.2
2 2009-01-01 00:02:00  1.39705  1.39710  1.39698  1.39706    152.0
3 2009-01-01 00:03:00  1.39707  1.39721  1.39705  1.39705    139.6
4 2009-01-01 00:04:00  1.39705  1.39719  1.39701  1.39701    163.4

In [26]:
cleaned.size #

24862404

## 检测和过滤异常值

In [10]:
#举个例子
data_1=pd.DataFrame(np.random.randn(1000,4),columns=list('ABCD'))
data_1.head()

          A         B         C         D
0 -1.468531  0.118245 -0.979961  1.046481
1  0.784779 -0.834935  0.022691 -1.258764
2  0.040517  0.838902  1.679042 -0.538323
3  0.156242  0.118111 -0.782354  1.679051
4  0.855360  0.014859 -0.699865 -1.494133

In [11]:
data_1.describe()

                 A            B            C            D
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.037202    -0.013185     0.019594     0.018524
std       1.037653     0.975729     1.004076     0.981599
min      -4.386491    -3.015560    -2.961623    -2.789849
25%      -0.654284    -0.650301    -0.613618    -0.654027
50%       0.050214    -0.014202     0.031237     0.029863
75%       0.733655     0.630893     0.692119     0.674425
max       3.185023     3.518694     3.292384     2.705535

In [12]:
data.describe()

            Open       High        Low      Close     Volume
count  10.000000  10.000000  10.000000  10.000000   10.000000
mean    1.397140   1.397194   1.397052   1.397117  147.890000
std     0.000110   0.000094   0.000098   0.000095  157.557555
min     1.397040   1.397100   1.396960   1.397010   15.000000
25%     1.397055   1.397125   1.396995   1.397065   67.000000
50%     1.397110   1.397185   1.397045   1.397095  109.500000
75%     1.397155   1.397205   1.397050   1.397120  158.525000
max     1.397340   1.397380   1.397310   1.397350  572.200000