In [1]:
import pandas as pd

In [3]:
data=pd.read_csv(r'D:\Nutstore\Backtrader\AUDUSD_D1.csv')
data.head()

            Time (UTC)     Open     High      Low    Close   Volume
0  2010.01.01 00:00:00  0.89725  0.89745  0.89713  0.89722  72622.26
1  2010.01.03 00:00:00  0.89823  0.89970  0.89713  0.89713   1303.15
2  2010.01.04 00:00:00  0.89716  0.91366  0.89379  0.91239  45216.78
3  2010.01.05 00:00:00  0.91246  0.91737  0.90916  0.91150  52283.22
4  2010.01.06 00:00:00  0.91156  0.92166  0.90974  0.91992  51910.04

In [5]:
data.columns

Index(['Time (UTC)', 'Open', 'High', 'Low', 'Close', 'Volume '], dtype='object')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time (UTC)  3233 non-null   object
 1   Open        3233 non-null   float64
 2   High        3233 non-null   float64
 3   Low         3233 non-null   float64
 4   Close       3233 non-null   float64
 5   Volume      3233 non-null   float64
dtypes: float64(5), object(1)
memory usage: 139.0+ KB

In [6]:
data=data.rename(columns={'Time (UTC)':'Date'})
data.head()

                  Date     Open     High      Low    Close   Volume
0  2010.01.01 00:00:00  0.89725  0.89745  0.89713  0.89722  72622.26
1  2010.01.03 00:00:00  0.89823  0.89970  0.89713  0.89713   1303.15
2  2010.01.04 00:00:00  0.89716  0.91366  0.89379  0.91239  45216.78
3  2010.01.05 00:00:00  0.91246  0.91737  0.90916  0.91150  52283.22
4  2010.01.06 00:00:00  0.91156  0.92166  0.90974  0.91992  51910.04

In [10]:
data['Date']=pd.to_datetime(data['Date'])
data.dtypes

Date       datetime64[ns]
Open              float64
High              float64
Low               float64
Close             float64
Volume            float64
dtype: object

In [15]:
data=data.set_index('Date')

In [18]:
data.to_csv(r'D:\Nutstore\Backtrader\AUDUSD_D1.csv')

In [17]:
data.head()

               Open     High      Low    Close   Volume
Date
2010-01-01  0.89725  0.89745  0.89713  0.89722  72622.26
2010-01-03  0.89823  0.89970  0.89713  0.89713   1303.15
2010-01-04  0.89716  0.91366  0.89379  0.91239  45216.78
2010-01-05  0.91246  0.91737  0.90916  0.91150  52283.22
2010-01-06  0.91156  0.92166  0.90974  0.91992  51910.04